.middle-room
  .middle-room__card-form
    = form_tag(credit_cards_path, method: :post, id: 'charge-form',  name: "inputForm") do
      .middle-room__card-form__info
        .middle-room__card-form__info__title 
          クレジットカード情報登録
        .middle-room__card-form__info__errorMessage
        .middle-room__card-form__info__card-number
          %label(for="card-name") カード番号
          %span.mandate 必須
          = text_field_tag "number", "", class: "input-number", placeholder: "半角数字のみ" ,maxlength: "16", type: "text", id: "card_number", value:"4242424242424242"
          %ul
            %li
              = image_tag "creditcard.png", size: "30x20", alt: "クレジットカード", class: "card-kind" 
            %li
              = image_tag "creditcard.png", size: "30x20", alt: "クレジットカード", class: "card-kind" 
            %li
              = image_tag "creditcard.png", size: "30x20", alt: "クレジットカード", class: "card-kind" 
        .middle-room__card-form__info__expiration-date
          %label(for="card-name") 有効期限
          %span.mandate 必須
          .middle-room__card-form__info__expiration-date__select
            .middle-room__card-form__info__expiration-date__select__month
              .middle-room__card-form__info__expiration-date__select__month__box
                %select#exp_month{name: "exp_month", type: "text", class: "select-default"}
                  %option{:value => "1"} 01
                  %option{:value => "2"} 02
                  %option{:value => "3"} 03
                  %option{:value => "4"} 04
                  %option{:value => "5"} 05
                  %option{:value => "6"} 06
                  %option{:value => "7"} 07
                  %option{:value => "8"} 08
                  %option{:value => "9"} 09
                  %option{:value => "10"} 10
                  %option{:value => "11"} 11
                  %option{:value => "12"} 12
              %span.default-letter 月
            .middle-room__card-form__info__expiration-date__select__year
              .middle-room__card-form__info__expiration-date__select__year__box
                %select#exp_year{name: "exp_year", type: "text", class: "select-default2"}
                  %option{:value => "2020"} 20
                  %option{:value => "2021"} 21
                  %option{:value => "2022"} 22
                  %option{:value => "2023"} 23
                  %option{:value => "2024"} 24
                  %option{:value => "2025"} 25
                  %option{:value => "2026"} 26
                  %option{:value => "2027"} 27
                  %option{:value => "2028"} 28
                  %option{:value => "2029"} 29
                  %option{:value => "2030"} 30
              %span.default-letter 年
          .middle-room__card-form__info__expiration-date__select-year
          #card_token
        .middle-room__card-form__info__security-code
          %label(for="card-name") セキュリティコード
          %span.mandate 必須
          = text_field_tag "cvc", "", class: "input-number", placeholder: "カード背面3~4桁の番号", maxlength: "4", id: "cvc"
          .middle-room__card-form__info__security-code__tip
            %span.question ?
            カードの裏側の番号とは？
            = submit_tag "登録する", id: "token_submit",class: "middle-room__card-form__info__register-btn"
            