.top-view
  = render "layouts/headder" 
  .mypage-wrapper
    %nav.mypage-wrapper__location
      %ul.mypage-wrapper__location__list
        %li.mypage-wrapper__location__list__item
          = link_to "フリマ", root_path, class: "ListItem-1"
        = icon('fas', 'chevron-right', class: "mypage-wrapper__location__list__icon") 
        %li.mypage-wrapper__location__list__item
          = link_to "マイページ", user_path(current_user), class: "ListItem-1"
        = icon('fas', 'chevron-right', class: "mypage-wrapper__location__list__icon") 
        %li.mypage-wrapper__location__list__item
          = link_to "支払い方法", new_credit_card_path, class: "ListItem-2"
    .top-container
      .mypage-container
        = render("users/side-menu")

      .mypage-container__board
        = render "middle_room"

  = render "layouts/footer"
  = link_to new_item_path, class: "link-sell" do
    .sell-btn
      %span 出品する
      = image_tag asset_path("icon_camera.png")