.headder-box
  .headder-box__upper
    = link_to "#", class: "link logo" do 
      .headder-box__upper__logo
        %i{class: "fas fa-box-open"}
        FURIMA
    .headder-box__upper__search
      -# 検索フォーム未実装
      検索
      %i{class: "fas fa-search"}
  .headder-box__btm
    %ul.headder-box__btm__categories
      = link_to "#", class: " link category" do 
        %li.headder-box__btm__categories__category カテゴリー
      = link_to "#", class: "link brand" do 
        %li.headder-box__btm__categories__brand ブランド
    %ul.headder-box__btm__user-session
      = link_to "#", class: "link login" do 
        %li.headder-box__btm__user-session__user-login ログイン
      = link_to "#", class: "link signup" do 
        %li.headder-box__btm__user-session__user-signup 新規会員登録
