.headder-box
  .headder-box__upper
    = link_to "#", class: "logo-link" do 
      .headder-box__upper--logo
        -# アイコン表示　見本のように画像をsrcで入れるのもあり
        FURIMA
    .headder-box__upper--search
      -# 検索フォーム
  .headder-box__btm
    %ul.headder-box__btm--categories
      = link_to "#", class: "category-link" do 
        %li.category カテゴリー
      = link_to "#", class: "brand-link" do 
        %li.brand ブランド
    %ul.headder-box__btm--user-session
      = link_to "#", class: "login-link" do 
        %li.user-login ログイン
      = link_to "#", class: "signup-link" do 
        %li.user-signup 新規登録
