.items-view 
  .items-view__pick-category
    .items-view__title
      %h1 ピックアップカテゴリー
      = link_to "#", class: "link new-items" do 
        %p 新規投稿商品
    .category-items
      .itemsList
        = link_to "#", class: "link category-item" do
          .itemsList__img
            = image_tag asset_path("items_test.png")
          .itemsList__text
            %h2.item-name item1
            %ul.itemsList__text__price-box
              %li 2000円
              %li 
                = icon('fas', 'star')
                0
            %p (税込)
      .itemsList
        = link_to "#", class: "link category-item" do
          .itemsList__img
            = image_tag asset_path("items_test.png")
          .itemsList__text
            %h2.item-name item2
            %ul.itemsList__text__price-box
              %li 3000円
              %li 
                = icon('fas', 'star')
                0
            %p (税込)
      .itemsList
        = link_to "#", class: "link category-item" do
          .itemsList__img
            = image_tag asset_path("items_test.png")
          .itemsList__text
            %h2.item-name item3
            %ul.itemsList__text__price-box
              %li 4000円
              %li 
                = icon('fas', 'star')
                0
            %p (税込)
  .items-view__pick-brand
    .items-view__title
      %h1 ピックアップブランド
      = link_to "#", class: "link archive" do 
        %p アーカイバ
    .brand-items
      .itemsList
        = link_to "#", class: "link brand-item" do
          .itemsList__img
            = image_tag asset_path("items_test.png")
          .itemsList__text
            %h2.item-name item1
            %ul.itemsList__text__price-box
              %li 2000円
              %li 
                = icon('fas', 'star')
                0
            %p (税込)
      .itemsList
        = link_to "#", class: "link brand-item" do
          .itemsList__img
            = image_tag asset_path("items_test.png")
          .itemsList__text
            %h2.item-name item2
            %ul.itemsList__text__price-box
              %li 3000円
              %li 
                = icon('fas', 'star')
                0
            %p (税込)
      .itemsList
        = link_to "#", class: "link brand-item" do
          .itemsList__img
            = image_tag asset_path("items_test.png")
          .itemsList__text
            %h2.item-name item3
            %ul.itemsList__text__price-box
              %li 4000円
              %li 
                = icon('fas', 'star')
                0
            %p (税込)