
- if item.trading_status_id == "1"
  .itemsList
    = link_to item_path(item), class: "link category-item" do
      = image_tag item.images.find_by(item_id: item.id).src.url, class: "itemsList__img", alt: "pic" if item.images.present?
      .itemsList__text
        %h2.item-name= item.name
        %ul.itemsList__text__price-box
          %li= "#{item.price}" + "円"
          %li 
            = icon('fas', 'star')
            0
        %p (税込)