.middle_space
  .middle_space__info
    .middle_space__info__info-head
      %h2 購入内容の確認
    .middle_space__info__item-info
      .middle_space__info__item-info__img
        %h2
          = image_tag "#{@item.images[0].src}", size: "80x80", alt: "商品写真", class: "goods-img"
      .middle_space__info__item-info__content
        .middle_space__info__item-info__content__name
          = @item.name
        .middle_space__info__item-info__content__price
          %p
            = "¥#{@item.price.to_s}"
            %span.mgr-10 (税込み) 送料込み
    .middle_space__info__payment-info
      .middle_space__info__payment-info__form
        .middle_space__info__payment-info__form__price
          %ul.content
            %li.content-text
              支払い金額
            %li.content-appraisal
              = "¥#{@item.price.to_s}"
        .middle_space__info__payment-info__form__howToPay
          %h3 支払い方法
          - if CreditCard.where(user: current_user).exists?
            .middle_space__info__payment-info__form__howToPay__space
              = "**** **** **** " + "#{@default_card_information.last4}"
              -# = image_tag "visa-card.png"
          - else
            = link_to new_credit_card_path, class: "link-blue" do
              登録して下さい
        .middle_space__info__payment-info__form__btn
          = form_tag(action: :pay, method: :post) do
            %button.buy-button{type:"submit"} 購入する
