.top-view
  = render "headder" 
  .content
    .content__intro
      .content__intro__text
        %h 人生を変えるフリマアプリ
        %p FURIMAはだれでもかんたんに出品・購入できる
        %p フリマアプリです
      -# アプリストアのリンクアイコン表示
    .content__reason
      .content__reason__headder
        FURIMAが選ばれる3つの理由
      %ul.content__reason__lists
        %li.content__reason__lists__list
          .content__reason__lists__list__pict
            = image_tag('speedy.jpeg')
          %h.list-text
            %span 3分
            ですぐに出品
          %p スマホで入力するだけで簡単に出品できる！
        %li.content__reason__lists__list
          .content__reason__lists__list__pict
            = image_tag('simple.jpeg')
          %h.list-text
            %span シンプル
            で使いやすい
          %p めんどくさい入力は必要なく、検索も購入もスムーズ！
        %li.content__reason__lists__list.last
          .content__reason__lists__list__pict
            = image_tag('cheap.jpeg')
          %h.list-text
            %span 手数料 
            業界最安
          %p 最大3%でお得に出品&購入！
    .content__rankone
      %h 会員数日本一位
      %p FURIMAは、フリマアプリで最も人気。
      %p 出品・購入回数も業界最多です！
      %p ほしかったあの商品に出会えるかもしれません。
      -# アプリストアのリンクアイコン表示
    .content__feature
      .content__feature__headder
        FURIMAの特徴
      %ul.content__feature__body
        %li.content__feature__body__easy
          %h 簡単に売り買いできる
          %p スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
        %li.content__feature__body__money
          %h 売上金は即日振込みに対応
          %p 午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
        %li.content__feature__body__method
          %h 様々な支払いに対応
          %p お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
  = render "items_view"
  = render "footer"


