.main
  .__showMain
    .__topContent
      .__itemBox
        .__name
          %h2 テスト！
        .__body
          %ul
            %li
              %img{ src: "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/7/a001.png"}
              %ul 
                %li
                  %img{ src: "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/8/a002.png"}
                %li
                  %img{ src: "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/9/a003.png"}
        .__price
          %span
            ￥10000
          .__priceDetail
            %span
              （税込）
            %span
              送料込み
        .__itemDetail
          先ほど少し触れましたが、BEMではページを構成する要素をBlock、Element、Modifierの3つに分類し、組み合わせることでクラスを命名します。Block、Element、Modifierの3つを使用して命名することで、クラス名だけでHTML要素の意味を伝えられます。各要素の意味を見ていきましょう。
        .__table
          %table
            %tbody
              %tr
                %th
                  出品者
                %td 
                  fumiya 
              %tr 
                %th
                  カテゴリー
                %td
                  = link_to "#" do
                    = "レディース"
                  %br 
                  = link_to "#" do 
                    = "トップス"
                  %br
                  = link_to "#" do
                    = "Tシャツ/カットソー（半袖/袖なし）"
              %tr
                %th
                  ブランド
                %td
                  ガスト
              %tr
                %th
                  商品のサイズ
                %td
                  一人前
              %tr
                %th
                  商品の状態
                %td
                  作り立てのホヤホヤ
              %tr
                %th
                  配送料の負担
                %td
                  送料込み（出品者負担）
              %tr
                %th
                  発送元の地域
                %td
                  = link_to "#" do
                    = "長野県"
              %tr
                %th
                  発送日の目安
                %td
                  １〜２日で発送
        .__optionalArea          
