.show-wrapper
  = render "layouts/headder" 

  .main
    .main__showMain
      .main__showMain__topContent
        .main__showMain__topContent__itemBox
          .main__showMain__topContent__itemBox__name
            = @item.name
            %br/
            -# もし出品者idとログインユーザーidが一致すれば、商品編集/削除へのリンクを表示
            - if user_signed_in? && @item.user_id == current_user.id
              .main__showMain__topContent__itemBox__link
                = link_to "#", class: "main__showMain__topContent__itemBox__link--edit", data: {turbolinks: false} do
                  商品を編集する
                = link_to "#", class: "main__showMain__topContent__itemBox__link--delete", data: {turbolinks: false} do
                  商品を削除する
          .main__showMain__topContent__itemBox__body
            %ul
              - @item.images.each.with_index do |image, i|
                - if i == 0
                  %li
                    = image_tag image.src.to_s, class: 'main__showMain__topContent__itemBox__body__mainPic', id: "mainPic"
              .main__showMain__topContent__itemBox__body__outline
                %ul.image-center
                  - @item.images.each.with_index do |image, i|
                    - if i < 5
                      %li
                        = image_tag image.src.to_s, size: '80x80', class: 'main__showMain__topContent__itemBox__body__mainPic__subPic'
                %ul.image-center
                  - @item.images.each.with_index do |image, i|
                    - if i >= 5
                      %li
                        = image_tag image.src.to_s, size: '80x80', class: 'main__showMain__topContent__itemBox__body__mainPic__subPic'
          .main__showMain__topContent__itemBox__price
            %span
              = "¥ " + "#{@item.price}"
            .main__showMain__topContent__itemBox__price__priceDetail
              %span
                （税込）
              %span
                - if @item.postage_burden == "送料込み(出品者負担)"
                  送料込み
                - else
                  送料別
          -# 商品出品者とログインユーザーが一致する場合には、購入ボタンを表示しない
          - unless user_signed_in? && @item.user_id == current_user.id
            .main__showMain__topContent__itemBox__buyBtn
              = link_to buy_item_path ,class: "main__showMain__topContent__itemBox__buyBtn__text" do
                購入画面に進む
          .main__showMain__topContent__itemBox__itemDetail
            = simple_format @item.explanation
          .main__showMain__topContent__itemBox__table
            %table
              %tbody
                %tr
                  %th
                    出品者
                  %td 
                    = @item.user.nickname
                %tr 
                  %th
                    カテゴリー
                  %td
                    = link_to "#", class:"main__showMain__topContent__itemBox__table__link" do
                      -# カテゴリー機能実装時にこれは削除
                      = "家電製品"
                    %br 
                    = icon('fas', 'chevron-right', class: "category-icon")
                    = link_to "#", class:"main__showMain__topContent__itemBox__table__link" do
                      = "カメラ"
                    %br
                    = icon('fas', 'chevron-right', class: "category-icon")
                    = link_to "#", class:"main__showMain__topContent__itemBox__table__link" do
                      = "デジタルカメラ"

                    -# ↓ここから下はカテゴリー機能実装後に加える
                    -#   = @item.category.parent.parent.name
                    -# %br 
                    -# = icon('fas', 'chevron-right', class: "category-icon")
                    -# = link_to "#", class:"main__showMain__topContent__itemBox__table__link" do
                    -#   = @item.category.parent.name
                    -# %br
                    -# = icon('fas', 'chevron-right', class: "category-icon")
                    -# = link_to "#", class:"main__showMain__topContent__itemBox__table__link" do
                    -#   = @item.category.name
                %tr
                  %th
                    ブランド
                  %td
                    - unless @item.brand.blank?
                      = @item.brand.name
                %tr
                  %th
                    商品の状態
                  %td
                    = @item.item_status
                %tr
                  %th
                    配送料の負担
                  %td
                    = @item.postage_burden
                %tr
                  %th
                    配送の方法
                  %td
                    = @item.postage_type
                %tr
                  %th
                    発送元の地域
                  %td
                    = @item.shipping_area
                %tr
                  %th
                    発送日の目安
                  %td
                    = @item.shipping_date
          .main__showMain__topContent__itemBox__optionalArea          
            %ul 
              %li.optionalBtn.likeBtn
                %i.fas.fa-star
                  お気に入り 0
            %ul.main__showMain__topContent__itemBox__optionalArea__optional 
              %li.main__showMain__topContent__itemBox__optionalArea__optional__optionalBtn
                = link_to "#",class:"main__showMain__topContent__itemBox__optionalArea__optional__optionalBtn__link" do
                  %i.fa.fa-flag
                    不適切な商品の通報
        .main__showMain__topContent__commentBox
          %ul.main__showMain__topContent__commentBox__commentContents
            %textarea 
            %p.main__showMain__topContent__commentBox__commentContents__noticeMsg
              相手のことを考え丁寧なコメントを心がけましょう。
              %br 
              不快な言葉遣いなどは利用制限や退会処分となることがあります。
            %br 
            %button.main__showMain__topContent__commentBox__commentContents__commentBtn{name: "button", type: "submit"}
              %i.fa.fa-comment
                コメントする
      %ul.main__showMain__links 
        %li
          = link_to "#", class:"main__showMain__links__link" do
            %i.fa.fa-angle-left
              前の商品
        %li
          = link_to "#", class:"main__showMain__links__link" do
            %span
              後ろの商品
            %i.fa.fa-angle-right
      .main__showMain__relatedItems
        = link_to "#",class:"main__showMain__relatedItems__link" do
          = "#{@item.user.nickname}" + "さんの出品アイテム一覧"
  = link_to "#" do
    .purchaseBtn
      %span.purchaseBtn__text
        出品する  
      = image_tag asset_path("icon_camera.png"), class: 'purchaseBtn__icon'
  = render 'layouts/footer'